<!-- content1.html -->
   <link rel="stylesheet" href="../styles/css/quiz-main.css" />
<div class="main-content">
        <div class="search-bar">
          <input type="text" placeholder=" Tìm kiếm..." />
        </div>


<div class="body-content">

  <div class="left-content">
  <div class="welcome-box">
    <div class="text">
      <strong>Xin chào Fushiree</strong>
      <p>Thật vui vì được gặp lại bạn</p>
    </div>
    <img src="../styles/img/bulbasaur.png" alt="avatar" />
  </div>

  <div class="quiz-info-box">
    <div class="quiz-header">
      <img src="../styles/img/cpp-icon.png" alt="C++ icon" />
      <div>
        <strong>Buổi 1. 08/05/2025: C++ cơ bản</strong>
        <p>GV: Lê Tân – <a href="#">Liên hệ GV</a></p>
        <p><img src="../styles/img/clock.png" class="icon" alt="clock" /> 10 phút</p>
      </div>
      <div class="progress-circle">
        <span>75%</span>
      </div>
    </div>

    <div class="quiz-content">
      <strong>Buổi 1. 08/05/2025: C++ cơ bản</strong>
      <p><u>Nội dung buổi học:</u><br />
        Đọc tài liệu về C++ cơ bản và làm bài trắc nghiệm kiểm tra kiến thức</p>
      <p><strong>Bắt đầu vào ngày:</strong> 08/05/2025</p>
      <p><strong>Bắt đầu vào ngày:</strong> 10/05/2025</p>
      <button class="start-button">Bắt đầu làm bài</button>
    </div>
  </div>
</div>

  <div class="right-content">
  <div class="quiz-list-section">
    <strong>Danh sách các bài Quizz:</strong>
    <div class="quiz-item">Buổi 1. 08/05/2025: C++ cơ bản</div>
    <div class="quiz-item">Buổi 1. 08/05/2025: C++ cơ bản</div>
    <div class="quiz-item">Buổi 1. 08/05/2025: C++ cơ bản</div>
    <div class="quiz-item">Buổi 1. 08/05/2025: C++ cơ bản</div>
    <div class="quiz-item">Buổi 1. 08/05/2025: C++ cơ bản</div>
    <button class="result-button">Xem điểm các bài trắc nghiệm</button>
  </div>
</div>
  </div>
</div>
