<!-- form-list-quizz.html -->
<div class="course-item">
  <img src="../styles/img/python.png" />
  <div class="details">
    <strong>Buổi 1. 08/05/2025: C++ Cơ bản</strong>
    <p>GV: Quốc Dũng</p>
  </div>
  <div class="meta">
    <span>
      <img src="../styles/img/clock.png" alt="clock" class="icon" />
      10 phút
    </span>
    <span>
      <img src="../styles/img/pointed-star.png" alt="star" class="icon" />
      4.8
    </span>
    <button onclick="loadQuizDetail('quiz-detail1.html', 'quiz-related-list.html')">Xem</button>
  </div>
</div>

<div class="course-item">
  <img src="../styles/img/python.png" />
  <div class="details">
    <strong>Buổi 2. 09/05/2025: C++ Cơ bản</strong>
    <p>GV: Quốc Dũng</p>
  </div>
  <div class="meta">
    <span>
      <img src="../styles/img/clock.png" alt="clock" class="icon" />
      10 phút
    </span>
    <span>
      <img src="../styles/img/pointed-star.png" alt="star" class="icon" />
      4.9
    </span>
    <button onclick="loadQuizDetail('quiz-detail1.html', 'quiz-related-list.html')">Xem</button>
  </div>
</div>

<div class="course-item">
  <img src="../styles/img/python.png" />
  <div class="details">
    <strong>Buổi 2. 09/05/2025: C++ Cơ bản</strong>
    <p>GV: Quốc Dũng</p>
  </div>
  <div class="meta">
    <span>
      <img src="../styles/img/clock.png" alt="clock" class="icon" />
      10 phút
    </span>
    <span>
      <img src="../styles/img/pointed-star.png" alt="star" class="icon" />
      4.9
    </span>
    <button onclick="loadQuizDetail('quiz-detail1.html', 'quiz-related-list.html')">Xem</button>
  </div>
</div>

<div class="course-item">
  <img src="../styles/img/python.png" />
  <div class="details">
    <strong>Buổi 2. 09/05/2025: C++ Cơ bản</strong>
    <p>GV: Quốc Dũng</p>
  </div>
  <div class="meta">
    <span>
      <img src="../styles/img/clock.png" alt="clock" class="icon" />
      10 phút
    </span>
    <span>
      <img src="../styles/img/pointed-star.png" alt="star" class="icon" />
      4.9
    </span>
    <button onclick="loadQuizDetail('quiz-detail1.html', 'quiz-related-list.html')">Xem</button>
  </div>
</div>
