
              <div class="welcome-box">
                <div class="text">
                  <strong>Xin chào Fushiree</strong>
                  <p>Thật vui vì được gặp lại bạn</p>
                </div>
                <img src="../styles/img/avatar.png" alt="avatar" />
              </div>


<div class="quiz-detail">
  <div class="quiz-header">
    <strong>Buổi 1. 08/05/2025: C++ cơ bản</strong>
    <p>GV: Lê Tân • <a href="#">Liên hệ GV</a></p>
    <span>⏰ 10 phút • 75%</span>
  </div>
  <div class="quiz-body">
    <p><strong>Nội dung buổi học:</strong></p>
    <p>Đọc tài liệu và ôn lại để làm bài trắc nghiệm kiểm tra kiến thức.</p>
    <p><strong>Bắt đầu vào ngày:</strong> 08/05/2025</p>
    <p><strong>Hạn cuối:</strong> 10/05/2025</p>
    <button class="start-btn">Bắt đầu làm bài</button>
  </div>
</div>
